@font-face {
    font-family: 'Inter';
    src: url('./Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
  font-family: 'Inter';
  src: url('./Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
  